.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 15vh;
  margin: auto;
}

ul {
  list-style: none;
  height: 10vh;
  padding: 0;
  background-color: white;
  padding-bottom: 10vh;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* border: 1px solid #e2e2e2; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:left {
  content: url(/public/assets/nextPage.png);
}

ul.pagination li:first-child {
  display: none;
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  display: none;
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 17px;
  line-height: 15px;
}

ul.pagination li.active a {
  color: #CF990C;
}

ul.pagination li.active {
  /* background-color: #337ab7; */
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}


.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}