.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.modal-window > div {
  border-radius: 1rem;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-inside {
  position: absolute;
  padding: 2em;
  display: flex;
  width: 1183px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  visibility: visible;
}

.modal-src-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.modal-img {
  display: flex;
  width:100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.modal-inside-img {
  max-width: 100%;
  height: auto;
  background-size: auto;
}

/* modal-content-container 내부 시작*/
.modal-content-container {
  position: relative;
  width: 50%;
  margin-left: 20px;
  /* border: 1px red solid; */
}

.writer-info-container {
  display: flex;
  justify-content: space-around;
  /* border: 1px red solid; */
}

.writer-info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 38px;
  aspect-ratio: 1;
  background-color: purple;
}

.follow {
  width: 68px;
  height: 28px;
  border: none;
  border-radius: 100px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.modal-close-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.modal-close {
  position: relative;
  margin-left: auto;
  width: 18px;
  aspect-ratio: 1;
  color: #aaa;
  text-decoration: none;
}

.modal-close svg {
  position: absolute;
}

.modal-close svg:nth-of-type(1) {
  transform: rotate(90deg);
}

.modal-close:hover {
  color: black;
}

.content-in-modal {
  text-align: start;
  margin-top: 12px;
}

.content-in-modal > .title-in-modal {
  text-align: start;
  font-size: xx-large;
}

.content-in-modal > .text-in-modal {
  margin-bottom: 25px;
}

.modal-content-container hr {
  background-color: #eaeaea;
  height: 1px;
  border: 0;
}

.social-in-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons-container {
  display: flex;
  align-items: center;
}
.social-in-modal > .social-icons-container > .comments-icon {
  margin-left: 10px;
}
.social-in-modal > .social-count-container > .comments-count {
  margin-left: 10px;
}
.comments-section {
  height: 260px;
  overflow-y: auto;
}
.comments-section > .comment-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.comments-section > .comment-container > .comment-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px red solid; */
}
.comment-main > .avatar {
}
.comment-main > .username {
  margin-left: 10px;
  font-weight: 600;
}
.comment-main > .comment-content {
  flex: 3;
  margin-left: 10px;
}
.comment-main > .comment-like > svg {
  width: 14.08px;
  height: 12.94px;
}
.comment-container > .comment-date-container {
  display: flex;
}
.comment-date-container > .empty {
  width: 38px;
  aspect-ratio: 1;
}
.comment-date-container > .comment-date {
  margin-left: 10px;
  font-size: 13px;
  color: #848484;
}
.comment-date-container > .comment-date > .comment-expand {
  font-weight: 500;
}
.comment-date-container > .comment-sub-list {
  display: flex;
}

/* 댓글 작성칸 */
.modal-content-container > .comment-create {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
}

.comment-create > .avatar {
  background-color: cornflowerblue;
  min-width: 38px;
}
.comment-create > .comment-create-text {
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  font-family: "Pretendard";
  font-size: 16px;
}
/* modal content container 내부 끝 */
