.modal-image {
  width: 50%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.modal-close-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.modal-content-container {
  width: 50%;
  margin-left: 20px;
}

.modal-content-container > .comments-wrapper {
  position: relative;
}

.modal-content-container > .comments-wrapper > .comment-create {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.writer-info-container {
  display: flex;
  justify-content: space-around;
}

.modal-post-content {
  text-align: start;
  margin-top: 12px;
}

.modal-post-content > .title-in-modal {
  text-align: start;
  font-size: xx-large;
}

.modal-post-content > .text-in-modal {
  height: 17vh;
  mex-height: 121px;
  overflow-y: auto;
  margin-top: 1.2vh;
  margin-bottom: 0.5vh;
}

.modal-post-content hr {
  background-color: #eaeaea;
  height: 1px;
  border: 0;
}

.social-icons-container {
  display: flex;
  align-items: center;
}

.social-icons-container > .comments-icon {
  margin-left: 10px;
}

.social-counter-container > .comments-count {
  margin-left: 10px;
}

.comments-wrapper {
  position: relative;
  height: 350px;
}

.comment-section {
  margin-top: 1vh;
  height: 260px;
  overflow-y: auto;
}

.comment-create {
  position: absolute;
  bottom: 0;
}

.comment-section > .comment-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.comment-section > .comment-container > .comment-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comments-count {
  margin-left: 10px;
}

.reply-option {
  background: none;
  border: none;
  vertical-align: top;
  cursor: pointer;
  margin-left: 5px;
}

.reply-delete-modal {
  width: 100%;
  height: 100%;
  /* background-color: black;
  opacity: 0.7; */
}

.reply-delete-container {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: 1px solid #c7c7c7;
}

.reply-delete-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reply-delete-box > div {
  height: 50%;
}

.reply-delete-box > div > button {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  color: black;
}

.reply-delete-box > div:first-of-type > button {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.rereply,
.rereply-get {
  cursor: pointer;
}

.warning-modal-container {
  width: 320px;
  height: 222px;
  padding: 2vh 0 0 0;
  border: 1px black solid;
}