.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: visible;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    visibility: visible;
    padding: 0px;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-inside {
    display: flex;
    border: none;
    padding: 0;
  }

  .modal-src-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .img-in-modal {
    width: 100%;
    object-fit: cover;
    max-height: 550px;
  }

  .modal-content-container {
    width: 50%;
  }
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }

  .title-in-modal {
    padding-top: 10px;
  }
  
  .text-in-modal {
  }
  hr {
    width: 100%
  }
  html,
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .modal-window > div {
    border-radius: 1rem;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  .btn i {
    padding-right: 0.3em;
  }