@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Pretendard';
  overflow-y: scroll;
}

.logo {
  width: 138px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 52px;
  width: 100%;
  position: relative;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #fff;
}

.nav > .nav-header {
  display: inline;
  margin-left: 15%;
}

.nav > .nav-header > .nav-title {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  background-color: transparent;
  border: none;
}

.nav-title > a {
  font-family: 'Viga', sans-serif;
  text-decoration-line: none;
  color: rgb(255, 247, 0);
  font-size: 27px;
  letter-spacing: 4px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  width: 7vh;
  margin-right: 20px;
  display: flex;
  float: right;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}

.nav > .DeleteCommentButton > .link {
  display: inline-block;
  padding: 10px 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  height: 30px;
  width: auto;
}

.link2 {
  background: url('../../../public/assets/write.png');
  transition: all 0.1s ease-out;
}

.navbar-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1200px) {
  .nav > .DeleteCommentButton > .link {
    padding: 10px 30px;
  }
}

@media (max-width: 600px) {
  .nav > .nav-header > .nav-title {
    margin-left: 0;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px 13px 0 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    /* width: 25px;
    height: 10px; */
    border-top: 3px solid rgb(255, 247, 0);
  }

  .nav > .DeleteCommentButton {
    display: flex;
    background-color: #333;
    transition: all 0.3s ease-in;
  }

  .nav > .DeleteCommentButton > a {
    display: block;
    width: 100%;
    height: 50px;
  }

  .nav > #nav-check:not(:checked) ~ .DeleteCommentButton {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .DeleteCommentButton {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
