@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

#wrap {
  width: 35vw;
  height: 3.2vw;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 3vw auto;
}

.searchBar {
  width: 35vw;
  height: 34px;
  padding: 10px 2.5vw;
  background-color:#F4F4F4;
  border:none;
  border-radius: 7px;
  outline: none;
}

#wrap input[type="submit"]{
  background-image: url(/public/assets/search.png);
  background-color: rgba(0, 0, 0, 0);
  color: #F4F4F4;
  width: 19px;
  height: 19px;
  background-size: 19px;
  text-indent: -10000px;
  border: none;
  position: absolute;
  left: 93%;
  transform: translate(-93%, -50%);
  cursor: pointer;
}

#wrap input[type="text"]{
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  font-family: 'Viga', sans-serif;
}

#wrap input::placeholder { 
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-10%, -50%);
  font-family: 'Viga', sans-serif;
}



