@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
.post-container {
  width: 700px;
  margin: 0 auto;
}
.post-header {
  font-size: 55px;
  font-family: "Viga", sans-serif;
  color: rgb(255, 180, 30);
  text-decoration: underline rgb(255, 88, 116) 10px;
  font-style: italic;
}
.post-form {
  text-align: center;
}
.post-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  background-color: white;
  /* box-shadow: 0px 0px 5px -1px #000000; */
  border-radius: 10px;
}
.post-data {
  width: 100%;
  font-size: larger;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(255, 221, 0);
  outline: none;
  color: rgb(255, 124, 30);
  resize: vertical;
}
.post-data::placeholder {
  color: rgb(255, 180, 30);
}
.post-submit {
  border: 0;
  background-color: rgb(255, 101, 127);
  color: white;
  border-radius: 5px;
  width: 20%;
  float: right;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 0px 0px 2px -1px #000000;
}
.post-submit:hover {
  cursor: pointer;
  background-color: rgb(255, 78, 108);
}
.post-file-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#post-upload-name {
  flex: 1;
  width: 78%;
  height: 40px;
  padding: 0 10px;
  /* border: 1px solid #dddddd; */
  border: 3px solid rgb(255, 221, 0);
  outline: none;
  /* color: #999999; */
  color: rgb(255, 165, 30);
}
#post-upload-name:hover {
  cursor: default;
}
.post-file-container > label {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  height: 40px;
  color: #fff;
  vertical-align: middle;
  /* background-color: #999999; */
  background-color: rgb(255, 168, 7);
  box-shadow: 0px 0px 2px -1px #000000;
  cursor: pointer;
}
.post-file-container > input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
