body {
    width: 100%;
    height: 100vh;
}

.newPost-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    cursor: default;
}

.newPost-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: all 1s;

    font-family: "Pretendard";
}

.newPost-boarding {
    position: absolute;
    width: 100%;
    max-width: 990px;
    height: 650px;
    padding: 1.5em;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    visibility: visible;
    transition: all 0.3s;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.newPost-body {
    position: relative;
    top: 5vh;
    width: 100vh;
    height: 58vh;
}

.newPost-title {
    position: absolute;
    width: 91px;
    height: 24px;
    left: 3vh;
    top: 4vh;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #909090;
}

.newPost-body-pic {
    position: absolute;
    display: flex;
    width: 64%;
    max-width: 560px;
    height: 58vh;
    max-height: 520px;
    left: 0;
    align-items: center;

    background: #F4F4F4;
    border: 1.5px solid #EAEAEA;
    border-radius: 12px;
    box-sizing: border-box;
}

.newPost-body-content-container {
    position: absolute;
    float: left;
    right: 0;
    width: 36%;
    height: 100%;
    max-height: 520px;
}

.newPost-body-pic-cloudPic {
    position: absolute;
    left: 49%;
    top: 42%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.newPost-body-example-container {
    width: 100%;
    height: 100%;
}

.newPost-body-example-pic {
    z-index: 2;
    object-fit: cover;
    width: 100%;
    max-width: 557px;
    height: 100%;
    max-height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 10px;
    background-position: center;
    background-size: contain, cover;
    background-repeat: no-repeat;
}

.btn-upload-form {
    display: none;
}

.select-img-btn {
    float: left;
}

.newPost-body-example-pic-list {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 4%);
    bottom: 1.5vh;
    width: 96%;
    height: 18%;
    background: rgba(0, 0, 0, 0.42);
    align-items: center;
    opacity: 1;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.preview {
    width: 1000px;
    height: 1000px;
}

.newPost-body-pic-explain {
    position: absolute;
    width: 100%;
    height: 46px;
    top: 50%;
    margin: auto;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #909090;
}

.newPost-body-title {
    position: absolute;
    width: 100%;
    right: 0.2vh;
    top: 4px;
    border: 0;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;

    &::placeholder {
        color: #BCBCBC;
    }

    &:focus {
        outline: none;
    }
}

.newPost-body-content {
    position: absolute;
    width: 100%;
    height: 50%;
    right: 1px;
    top: 5vh;
    border: none;
    resize: none;
    border-bottom: 1px solid #EAEAEA;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    /* line-height: 23px; */

    letter-spacing: -0.01em;

    &::placeholder {
        color: #BCBCBC;
    }

    &:focus {
        outline: none;
    }
}


.submit-btn {
    position: absolute;
    width: 102px;
    height: 34px;
    right: 0;
    bottom: 0;
    cursor: pointer;

    font-family: 'Pretendard';
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF9500;
    border-radius: 6px;
    border: none;

    &:hover {
        color: #000000;
    }
}


.newPost-modal-close {
    position: absolute;
    right: 1.3vw;
    cursor: pointer;
}